<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://sendemailblobtrigger20240216211534.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e57ecb4c-62bf-400f-a9b9-3a629daafcba/resourcegroups/test-task-group2/providers/Microsoft.Web/sites/SendEmailBlobTrigger20240216211534</ResourceId>
    <UserName>$SendEmailBlobTrigger20240216211534</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://sendemailblobtrigger20240216211534.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>